<div class="container-fluid">
  <div
    class="row justify-content-center align-items-center"
    style="height: 80px"
  >
    <div class="col-3"></div>
    <div
      class="col-6 h2"
      style="color: brown; font-family: 'Montserrat', sans-serif"
    >
      TodoList
    </div>
  </div>

  <div class="row mt-1" style="height: 80px">
    <div class="col-3 d-none col-md-3 d-md-block"></div>
    <div
      class="col-12 col-md-6 d-flex justify-content-center align-items-center text-light h3"
    >
      <input
        [(ngModel)]="newTask"
        type="text"
        value=""
        class="col-7 form-control"
        style="width: 300px"
        (input)="isInputEmpty = newTask === ''"
      />

      <div class="col-1"></div>

      <button
        (click)="addToList()"
        class="btn btn-light text-success"
        style="font-family: 'Montserrat', sans-serif"
        [disabled]="isInputEmpty || isLoading"
      >
        ADD TASK
      </button>
    </div>

    <div class="col-3 d-none col-md-3 d-md-block"></div>
  </div>

  <div class="row mt-1" *ngFor="let x of items; let index = index">
    <div class="col-3 d-none col-md-3 d-md-block"></div>

    <div
      class="col-12 col-md-6 d-flex justify-content-between align-items-center text-light h3 hover-effect"
      style="border: 4px solid green; padding: 10px; margin-bottom: 10px"
    >
      <div
        class="col-9 h3 text-black"
        style="font-family: 'Montserrat', sans-serif"
      >
        <ng-container *ngIf="editingIndex !== index; else editTaskField">
          <input
            type="checkbox"
            name="checkbox"
            id="checkbox"
            class="checkbox-button"
          />
          <span [class.stroked-text]="isCheckboxChecked">{{ x }}</span>
        </ng-container>
        <ng-template #editTaskField>
          <input
            [(ngModel)]="items[index]"
            type="text"
            class="form-control"
            style="width: 300px"
          />
        </ng-template>
      </div>

      <div class="col-3">
        <div class="d-flex justify-content-end">
          <ng-container *ngIf="editingIndex !== index; else saveButton">
            <input
              (click)="editTask(index)"
              type="button"
              value="Edit"
              class="btn btn-primary btn-sm"
              style="font-family: 'Montserrat', sans-serif"
            />
          </ng-container>
          <ng-template #saveButton>
            <input
              (click)="saveTask()"
              type="button"
              value="Save"
              class="btn btn-success btn-sm"
              style="font-family: 'Montserrat', sans-serif"
            />
          </ng-template>

          <input
            (click)="deleteTask(index)"
            type="button"
            value="Delete"
            class="btn btn-danger btn-sm"
            style="font-family: 'Montserrat', sans-serif; margin-left: 5px"
          />
        </div>
      </div>
    </div>

    <div class="col-3 d-none col-md-3 d-md-block"></div>
  </div>
  <app-loading-bar *ngIf="isLoading" message="Yükleniyor..."></app-loading-bar>
</div>

<div *ngIf="items.length === 0">
  <app-not-found></app-not-found>
</div>
